<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="Debugging">
		<setting label="Enable debug logging" type="bool" id="enable_logging" default="false"/>
	</category>
	<category label="Shortcuts">
		<setting label="Translate Skin related pathes" type="bool" id="translate_skin_path" default="true"/>
	</category>
</settings>
